.App {
  height: 100vh;
  width: 100vw;
}

.app-top {
  height: auto;
  width: 100vw;
}

@media (min-width: 640px){
  .app-top {
  height: 40%;
  width: 100%;
  }
}


.leaflet-container {
  height: 40vh;
  width: 100%;
}

@media (min-width: 640px){
  .leaflet-container {
    height: 100%;
    width: 50%;
    border-radius: 6px;
  }
}
